// LOGO背景色
$logoBgColor: #42c6b1;
// element 主体色
$eleColor: #2fb48a;
// 文字主体色
$gloFontColor: $eleColor !important;
$gloFontSize: 14px !important;
$cccc: #ccc !important;
//边框主题色
$borderColor: #ebebeb;
